* {
  box-sizing: border-box;
}
body {
  background-image: linear-gradient(135deg, #f5f7fa, #c3cfc0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
  font-family: sans-serif;
  margin: 0;
}
#root {
  width: 100%;
}
h1 {
  text-align: center;
}
.timeline-container {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  position: relative;
  /* max-width: 900px;
  width: 40vw; */
}
.timeline-container::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #e17b77;
  position: absolute;
  left: calc(50% - 2px);
  border-radius: 5px;
}
.timeline-item {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  margin: 10px 0;
  width: 50%;
}
.timeline-item:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-right: 0;
  padding-left: 30px;
}
.timeline-item-content {
  max-width: 70%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  width: 400px;
  padding: 15px;
  text-align: right;
  position: relative;
}
.timeline-item-content::after {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background-color: #fff;
  transform: rotate(45deg);
  right: -7.5px;
  top: calc(50% - 7.5px);
}
.timeline-item:nth-child(odd) > .timeline-item-content::after {
  left: -7.5px;
}
.timeline-item:nth-child(odd) > .timeline-item-content {
  text-align: left;
}
.timeline-item-content .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  padding: 5px;
  position: absolute;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.timeline-item:nth-child(odd) > .timeline-item-content .tag {
  left: auto;
  right: 5px;
}
.timeline-item-content .time {
  color: #777;
  font-size: 12px;
}
.timeline-item-content p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  /* max-width: 250px; */
}
.timeline-item-content a {
  color: #333;
  text-decoration: none;
  font-size: 16px;
  position: relative;
}
.timeline-item-content a::after {
  content: "⇒";
  font-size: 12px;
}
.timeline-item-content .circle {
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  z-index: 999;
  border: 3px solid #e17b77;
}
.timeline-item:nth-child(odd) > .timeline-item-content .circle {
  left: -40px;
}

@media only screen and (max-width: 767px) {
  .timeline-item-content,
  .timeline-item:nth-child(odd) > .timeline-item-content {
    padding: 15px 10px;
    text-align: center;
    align-items: center;
  }
  .timeline-item-content .tag {
    width: calc(100% - 10px);
  }
  .timeline-item-content .time {
    margin-top: 20px;
  }
  .timeline-item-content a {
    text-decoration: underline;
  }
  .timeline-item-content a::after {
    display: none;
  }
}
